
body{
    background-color: skyblue;
    
    
    margin: 10px;
}

header{
       
    background-color: rgba(119,90,90, 0.6);
    width: 100%;
    position: fixed;
    right: 0px;
    top: 0px;


}


/* Targeting our blog */
section{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
 padding: 10px ;   
}

article{
  font-size: 15px;  
  text-align: justify;
}

.title{
    font-size: 23px;
    font-weight: bold;
    line-height: 15px;

}

.date{
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
}
nav ul li a{
    text-decoration: none;
    font-size: 1.1em;

}
nav ul li:visited{
    background-color: rgb(230, 79, 20);
}
@media (hover: hover) {
    nav ul li:hover{
        background-color: lightgreen;
        font-size: larger;
}

 }
nav ul li:active{
    background-color: lightslategrey;
}

nav>ul>li{
 display: inline;
 padding: 10px 5px;
}

section article p a{
    text-decoration: none;
    
}

/* testing width proprety */
#index-hobbies{
    clear: both;
    margin-left: 5%;
    margin-bottom: 3%;
    border-bottom: solid black 1px;
}
#index-hobbies ul{
    font-size: 1.1em;
}

#test
{
    font-size: 20px;

}

p{
    font-size: 1.2rem;
}



#img_container figure {
    float: left;
    height: 400px;
    width: 30%;
    margin: 1.6%;
    text-align: center;
    
    }

#img_container figure img {
    float: left;
    height: 100%;
    width: 100%;
    margin: 1.6%

}

#index-topSkill{
    margin-bottom: 3%;
    margin-left: 5%;
    border-bottom: solid black 1px;
}

#img_container{
    margin-bottom: 2em;
    clear: both;

    border-bottom: 0.1em solid #03171f;
}

.mapouter{
   
    margin: 2%;

   
 
}
#big{
   
    display: flex;
}
#big div{
    flex: 1;
}

#footer {
   
    margin-top: 100em;
    padding-top: 10em;
    text-align: center;
    
    margin-top: 2em;
    clear: both;
}
#footer footer{
    padding-top: 2em;
}
#footer img{
    height: 25px;
    width: 25px;
}

#head{
    
    margin: 4em;
    padding: 1em;
    margin-bottom: 10em;

    height: fit-content;
    
}
#head img{
    float: left;
    padding-right: 1.4em;
}

#experience{
    text-align: justify;
    border-top: solid;
    border-top: black;
    margin-left: 5%;
    margin-bottom: 3%;

}

#form {
    width: 48%;
    margin-top:2%;
   margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
    background-color: #bcd7db;
    display: list-item;
}

#form #tel{
    width: 5% ;
    float: left;
}

input {
    
    margin: 10px;
    height: 30px;
    width: 60%;
    box-sizing: border-box;
    display: list-item;
    box-sizing: content-box;
}
input:focus{
    border-color: green;

}
input[type=submit]{
    width: 20%;
    height: 30px;
    text-align: center;
    font-size: 1.1em;
}
textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #c4e0f0;
    resize: none;
    clear: both;
    
}


#form #title{
    font-size: 1.5em;
    text-align: left;
    padding-bottom: 1em;
    font-family: fantasy;
    color: rgb(81, 83, 83);
}


#form label{
    padding-right: 30px;
    padding-bottom: 20px;
    
    font-size: 1.2em;
    

}
#aman {
    text-transform: uppercase;
}

#contact-footer{
    clear: both;
    border-top: solid rgba(153, 45, 45, 0.7) 0.1em;
    margin-top: 2em;
    padding: 1em;
}
input[type=submit]:hover{
    background-color:rgb(167, 204, 213);
    color: white;
}

/* mywork.html */

#mywork-content ul  li a{
    text-decoration: none;
    font-size: 2em;
    font-stretch: expanded;

}
#mywork-content {
  
    padding-top: 2em;
    margin-top: 15%;
    text-align: center;
}
#mywork-content ul  li{
    display: inline-block;
    padding: 2em;
}

#q2-img{
    margin-left: 30%;
    margin-top: 10%;
    width: 600px;
    height: 600px;
   
 
    align-items: center;
    
    padding: 0;
    
    

}
#q2-img *{

    margin: 0;
    
    height: 30%;
    width: 30%;
    float: left;
    
}
/* container of all countries */
#q3Container{


    margin: 2%;
    align-items: center;
    box-sizing: content-box;
}


 #q3Container *{
    width:400px;
    height:300px;  
     	
    float: left;

    margin: 2em;
}

/* Countries */
#q3Container #France *{
    height: 100%;
    width: 32%;
    float: left;
    margin: 0;
}

#q3Container #belgium *{
    height: 100%;
    width: 32%;
    float: left;
    margin: 0;
}

#q3Container>#germany  *{
    height: 33%;
    width: 100%;
    
    margin: 0;
}

#q3Container #russia  *{
    height: 33%;
    width: 100%;
    
    margin: 0;
}


#q3Container #ireland *{
    height: 100%;
    width: 32%;
    float: left;
    margin: 0;
}

#q3Container #armenia  *{
    height: 33%;
    width: 100%;
    
    margin: 0;
}

#q3Container #italy *{
    height: 100%;
    width: 32%;
    float: left;
    margin: 0;
}

#q3Container #romania *{
    height: 100%;
    width: 32%;
    float: left;
    margin: 0;
}
#q3Container #netherland  *{
    height: 33%;
    width: 100%;
    
    margin: 0;
}
#q3Container #ossetia *{
    height: 33%;
    width: 100%;
    
    margin: 0;
}

#q3Container #luxemberg *{
    height: 33%;
    width: 100%;
    
    margin: 0;
}
#q3Container #estonia *{
    height: 33%;
    width: 100%;
    
    margin: 0;
}





/* Colors */
#blue{
    background-color: blue;
}
#white{
background-color: white;
}
#red{
    background-color: red;
}
#black{
    background-color: black;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#orange{
    background-color: orange;
}
#skyblue{
    background-color: rgb(24, 155, 207);
}